@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #FFECD1;
}

@theme {
  ----default-font-family: "Open Sans", sans-serif;

  --color-red-50: #C1292E;
  --color-brown-50: #5A352A;
  --color-beige-50: #FFECD1;
}